<%- include('./partial/head.ejs') %>

<div class="nav">
    <a><h1><i class="fas fa-virus"></i>Coronavirus Tracker</h1></a>
    <div class="socials">
        <a><i class="fab fa-github"></i></a>
        <a><i class="fab fa-linkedin"></i></a>
        <a><i class="fas fa-user"></i></a>
    </div>
</div>
<div class='dashboard'>
    <div class="global-statistics component">
        <h2 class='card-title'><i class="fas fa-globe-americas"></i>Global Statistics</h2>
        <h3><i class="fas fa-briefcase-medical"></i>Confirmed Cases</h3>
        <p class='statistic'><span class='stat'>Total Confirmed Cases</span><span class='stat-num'><%- global.response[0].cases.total %></span></p>
        <p class='statistic'><span class='stat'>New Confirmed Cases</span><span class='new-num'><%- global.response[0].cases.new %></span></p>
        <p class='statistic'><span class='stat'>Active Confirmed Cases</span><span class='stat-num'><%- global.response[0].cases.active %></span></p>
        <p class='statistic'><span class='stat'>Current Critical Cases</span><span class='stat-num'><%- global.response[0].cases.critical %></span></p>
        <p class='statistic'><span class='stat'>Recovered Cases</span><span class='new-num'><%- global.response[0].cases.recovered %></span></p>
        <h3><i class="fas fa-skull-crossbones"></i>Casualties</h3>
        <p class='statistic'><span class='stat'>Total Deaths</span><span class='stat-num'><%- global.response[0].deaths.total %></span></p>
        <p class='statistic'><span class='stat'>New Deaths</span><span class='new-num'><%- global.response[0].deaths.new %></span></p>
        <h3><i class="fas fa-calculator"></i>Calculations</h3>
        <% let deathRate = ((global.response[0].deaths.total) / (global.response[0].cases.total) * 100); %>
        <% let recoveryRate = ((global.response[0].cases.recovered) / (global.response[0].cases.total) * 100); %>
        <p class='statistic'><span class='stat'>Effective Death Rate</span><span class='stat-num'><%- deathRate %>%</span></p>
        <p class='statistic'><span class='stat'>Effective Recovery Rate</span><span class='new-num'><%- recoveryRate %>%</span></p>
    </div>
    <div class='country-list component'>
        <h2 class='card-title'><i class="far fa-flag"></i>Country Statistics</h2>
        <% countries.response.forEach(country => { %>
            <p class='country'><span class='name'><%- country.country %></span><span class='count'><%- country.cases.total %></span></p>
        <% }) %> 
    </div>
</div>

<%- include('./partial/footer.ejs') %>